.header {
  display: flex;
  align-items: center;
  background-color: #131921;
  color: white;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.brand p {
  padding-top: 10px;
  height: 30px;
  width: auto;
  font-weight: bolder;
}

.searchBar {
  display: flex;
  flex-grow: 1; 
  margin: 0 20px;
  height: 45px;
}

.searchBar .left select {
  font-family: Poppins;
  width: 60px;
  height: 45px;
  padding: 0 5px;
  font-size: auto;
  background-color: #e6e6e6;
  color: rgb(45, 45, 45);
  border: none;
  outline: none;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.searchBar .search{
  width: 100%;
}

.searchBar .search input {
  flex-grow: 1; 
  width: 100%;
  font-family: Poppins;
  height: 100%;
  padding: 0px 10px;
  border: none;
  outline: none;
}

.searchBar .right button {
  background-color: #febd69;
  height: 45px;
  padding: 1px 10px;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  border: none;
  outline: none;
}


.userActions {
  display: flex;
  font-size: 12px;
  text-align: center;
}

.signIn{
  margin: auto 10px;
}

.order{
  margin: auto 10px;
}

.cart {
  margin: auto 20px auto 10px;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:rgb(221, 217, 217); 
  text-decoration:none; 
  cursor:pointer;  
}