.cartBody {
  background-color: rgb(212, 211, 211);
  height: 100vh;
}

.cartCard {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .cartCard {
    display: flex;
    flex-direction: column-reverse;
  }
}
