.CartTotalCard{
    background-color: white;
    color: black;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    border-radius: 1%;
    width: 20%;
    height: fit-content;
    margin: 20px 20px;
    padding: 20px 20px;
    border-radius: 12px;
}

.header{
    font-size: 18px;
    font-weight: 800;
}

.input{
    display: flex;
    flex-direction: row;
}

.checkoutButton{
    background-color: #febd69;
    color: black;
    width: 60%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 12px;
}

@media only screen and (max-width: 600px) {
    .CartTotalCard{
        width: 85%;
        margin: 20px auto 10px;
    }

    .header{
        font-size: 20px;
        font-weight: 800;
    }
    
  }
  