.optionBox {
  position: fixed;
  width: 30%;
  right: 20px;
  top: 60px;
  background: white;
  color: black;
  text-align: center;
  padding: 10px 10px;
  font-size: 13px;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid black;
}

a{
    text-decoration: none;
}

.option {
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
}

.option:hover {
  background-color: rgb(189, 203, 233);
  color: black;
}

@media only screen and (max-width: 600px) {
  .optionBox {
    width: 30%;
  }

  .option{
    width: 70%;
    color: black;
    margin: auto auto;
    padding-left: 20px;
    padding-right: 20px;
  }

}
